HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/DogBro-Mall-Parent/DogBro-Mall-Service/Mall-Service-Goods/target
/DogBro-Mall-Parent/DogBro-Mall-Service/Mall-Service-File/target
/DogBro-Mall-Parent/DogBro-Mall-Eureka/target
/DogBro-Mall-Parent/DogBro-Mall-Common-DB/target
/DogBro-Mall-Parent/DogBro-Mall-Common/target
